.list-table-format {
    display: grid;
    grid-template-columns: 0.5fr 2fr 1fr 1fr 0.5fr;
    align-items: center;
    gap: 10px;
    padding: 12px 15px;
    border: 1px solid #cacaca;
    font-size: 13px;
}
.list-table-format.title{
    background-color: #f9f9f9;
}
.list-table-format img{
    width: 50px;
}
.cursor{
    cursor: pointer;
}
.cursor {
  display: inline-block;        /* important for transform */
  transition: transform 0.2s ease;
}

.cursor:hover {
  transform: scale(1.3);        /* zoom effect */
}
@media (max-width:600px){
    .list-table-format{
        grid-template-columns: 1fr 3fr 1fr;
        gap:15px;
    }
    .list-table-format.title{
        display: none;
    }
}